@use "/src/variable" as *;
.contact {
  position: relative;
  padding: 90px 30px;
  width: 100%;
  min-height: 100vh;
  background: $color-black;
  color: $color-white;
  font-size: 1rem;

  & h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 60px;
  }
  & .content {
    display: flex;
    justify-content: center;
    & .part {
      width: 50%;
      padding: 0 20px;
      display: flex;
      flex-flow: column;
      gap: 15px;
      &:not(:last-of-type) {
        border-right: 2px solid $color-white;
      }

      & h3 {
        width: fit-content;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 25px 0;

        @media screen and (max-width: 576px) {
          & {
            font-size: 1.2rem;
          }
        }
      }
      &.left {
        align-items: flex-end;
        & div {
          display: flex;
          gap: 10px;
          font-size: 1rem;

          @media screen and (max-width: 576px) {
            & {
              font-size: 0.625rem;
            }
          }
        }
      }
      &.right {
        & a {
          display: flex;
          font-size: 2.4rem;
          align-items: center;
          gap: 15px;
          color: $color-white;
          text-decoration: none;
          & span {
            font-size: 1rem;
            @media screen and (max-width: 576px) {
              & {
                font-size: 0.625rem;
              }
            }
          }
        }
      }
    }
  }
}
