<div class="overview">
  <div class="content">
    <h1 #name>Kieu tri lang</h1>
    <h5 #job>Web backend developer</h5>
    <a
      href="https://drive.google.com/file/d/18Zr9BxEfriuPkdyVYNhlEJYg7ZE9uHox/view?usp=sharing"
      target="_blank"
      #resume
      >Resume</a
    >
    <div class="links" #social>
      <a
        href="https://www.facebook.com/kieutrilang/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <fa-icon [icon]="facebookIcon" [size]="'1x'"></fa-icon>
      </a>
      <a
        href="https://github.com/KieuTriLang"
        target="_blank"
        rel="noopener noreferrer"
      >
        <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon>
      </a>
    </div>
  </div>
</div>
