<div class="skill" #skill>
  <div class="content">
    <h2 class="title" #title>Skill</h2>
    <div class="skill-list">
      <p class="lg">Springboot</p>
      <p class="md">responsibility</p>
      <p class="md">receiving feedback</p>
      <p class="md">teamwork</p>
      <p>Html</p>
      <p class="md">Angular</p>
      <p>Css</p>
      <p class="md">MySQL</p>
      <p>javascript</p>
      <p class="md">Java</p>
      <p>typescript</p>
      
      <p>git</p>
      
      <p>Docker</p>
    </div>
  </div>
</div>
