@use "/src/variable" as *;
@use "/src/responsive" as *;
.skill {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: $color-black;
  color: $color-white;

  & .content {
    padding: 90px 30px;
    & h2 {
      width: fit-content;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto 60px auto;
    }
    & .skill-list {
      margin: 0 auto;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-auto-flow: dense;
      justify-content: center;
      @include Responsive(LG) {
        grid-template-columns: repeat(15,1fr);
      }
      @include Responsive(MD) {
        grid-template-columns: repeat(20,1fr);
      }
      p {
        text-transform: uppercase;
        position: relative;
        padding: 20px 10px;
        font-size: 1rem;
        text-align: center;   
        border: 1px solid $color-white; 
        display: flex;
        justify-content: center;
        align-items: center;
        @include Responsive(MD) {
          grid-row-end: span 3;
          grid-column-end: span 5;
        }
        @include Responsive(SM) {
          grid-row-end: span 5;
          grid-column-end: span 8;
        }
        &.lg{
          grid-row-end: span 5;
          grid-column-end: span 7;
          font-size: 2.4rem;
          @include Responsive(LG) {
            grid-row-end: span 7;
            grid-column-end: span 10;
          }
          @include Responsive(MD) {
            grid-row-end: span 14;
            grid-column-end: span 13;
          }
          @include Responsive(SM) {
            grid-row-end: span 14;
            grid-column-end: span 20;
          }
        } 
        &.md{
          grid-row-end: span 3;
          grid-column-end: span 2;
          @include Responsive(LG) {
            grid-row-end: span 5;
            grid-column-end: span 4;
          }
          @include Responsive(MD) {
            grid-row-end: span 7;
            grid-column-end: span 7;
          }
          @include Responsive(SM) {
            grid-row-end: span 7;
            grid-column-end: span 12;
          }
        }   
      }
    }
  }
}
