@use "/src/variable" as *;
.skill {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: $color-black;
  color: $color-white;

  & .content {
    padding: 90px 30px;
    & h2 {
      width: fit-content;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto 60px auto;
    }
    & .skill-list {
      margin: 0 auto;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-auto-flow: dense;
      justify-content: center;
      p {
        text-transform: uppercase;
        position: relative;
        padding: 20px 10px;
        font-size: 1rem;
        text-align: center;   
        border: 1px solid $color-white; 
        display: flex;
        justify-content: center;
        align-items: center;
        &.lg{
          grid-row-end: span 5;
          grid-column-end: span 7;
          font-size: 2.4rem;
        } 
        &.md{
          grid-row-end: span 3;
          grid-column-end: span 2;
        }   
      }
    }
  }
}
