<div class="skill" #skill>
  <div class="content">
    <h2 class="title" #title>Skill</h2>
    <div class="skill-list">
      <div class="skill-item" #item1>
        <p>Html</p>
        <p>Css</p>
        <p>javascript</p>
        <p>C#</p>
        <p>Java</p>
      </div>
      <div class="skill-item" #item2>
        <p>asp .net</p>
        <p>Spring boot</p>
        <p>Angular</p>
      </div>
      <div class="skill-item" #item3>
        <p>MSSQL</p>
        <p>MySQL</p>
      </div>
    </div>
  </div>
</div>
