<div class="project" #project>
  <h2 class="title" #title>Project</h2>
  <div class="content">
    <div class="card p1">
      <div class="header">
        <fa-icon [icon]="folderIcon" [size]="'1x'"></fa-icon>
        <h4 class="name">Pchat</h4>
      </div>
      <p class="description">
        PChat was developed based on the need to connect people with each other.
      </p>
      <div class="tags">
        <span>Asp .net framework</span>
        <span>Html</span>
        <span>Css</span>
        <span>Ajax</span>
        <span>Javascript</span>
        <span>MSSQL</span>
        <span>SignalR</span>
      </div>
      <div class="source-code">
        <a href="https://github.com/KieuTriLang/ChatV2.git">
          <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
          ><small>Source</small></a
        >
      </div>
    </div>
    <div class="card p2">
      <div class="header">
        <fa-icon [icon]="folderIcon" [size]="'1x'"></fa-icon>
        <h4 class="name">L2 Shop</h4>
      </div>
      <p class="description">
        L2 was built and developed to help the store manage products, orders, .
        . . simpler and easier way. It also helps to reach more potential
        customers. Website integrated payment by paypal
      </p>
      <div class="tags">
        <span>Spring boot</span>
        <span>Spring data jpa</span>
        <span>Angular</span>
        <span>Rxjs</span>
        <span>Scss</span>
        <span>MySQL</span>
        <span>Paypal</span>
      </div>
      <div class="source-code">
        <a href="https://github.com/KieuTriLang/l2store-client.git">
          <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
          ><small>Frontend</small></a
        >
        <a href="https://github.com/KieuTriLang/l2store.git">
          <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
          ><small>Backend</small></a
        >
      </div>
    </div>
  </div>
</div>
