<div class="project" #project>
  <h2 class="title" #title>Project</h2>
  <div class="content">
    <div class="card p1">
      <div class="info">
        <div class="header">
          <fa-icon [icon]="folderIcon" [size]="'1x'"></fa-icon>
          <h4 class="name">Profy</h4>
        </div>
        <div class="description">
          <p>Authenticate using Jwt</p>
          <p>Crud operation</p>
        </div>
        <div class="tags">
          <span>Spring boot</span>
          <span>Mongodb</span>
          <span>Angular</span>
          <span>Docker</span>
          <span>Jwt</span>
        </div>
        <div class="source-code">
          <a href="https://github.com/KieuTriLang/Profy.git">
            <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
            ><small>Source</small></a
          >
        </div>
      </div>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/FO4OrPvFc2A?si=OGoZvblfpm91vrd1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="card p2">
      <div class="info">
        <div class="header">
          <fa-icon [icon]="folderIcon" [size]="'1x'"></fa-icon>
          <h4 class="name">L2Store</h4>
        </div>
        <div class="description">
          <p>CRUD</p>
          <p>Jwt</p>
          <p>Payment by paypal</p>
          <p>Send email</p>
        </div>
        <div class="tags">
          <span>Spring boot</span>
          <span>Spring data jpa</span>
          <span>Angular</span>
          <span>Rxjs</span>
          <span>Scss</span>
          <span>MySQL</span>
          <span>Paypal</span>
        </div>
        <div class="source-code">
          <a href="https://github.com/KieuTriLang/L2store-web.git">
            <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
            ><small>Source</small></a
          >
        </div>
      </div>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/IBe4mVPpiq8?si=83mKPsSwyYkcR55F"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="card p3">
      <div class="info">
        <div class="header">
          <fa-icon [icon]="folderIcon" [size]="'1x'"></fa-icon>
          <h4 class="name">Coconect</h4>
        </div>
        <div class="description">
          <p>Chat realtime using websoket, sockjs and stompjs.</p>
        </div>
        <div class="tags">
          <span>Spring boot</span>
          <span>Spring data jpa</span>
          <span>Angular</span>
          <span>Rxjs</span>
          <span>Scss</span>
          <span>MySQL</span>
          <span>Websoket</span>
          <span>Stompjs</span>
          <span>Sockjs</span>
        </div>
        <div class="source-code">
          <a
            href="https://github.com/KieuTriLang/Coconect-Springboot-Angular.git"
          >
            <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
            ><small>Source</small></a
          >
        </div>
      </div>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/B2UMD0rqNtY?si=46OxAOmZ9kk5HlSc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
