@use "/src/variable" as *;
.project {
  position: relative;
  padding: 90px 30px;
  width: 100%;
  min-height: 100vh;
  background: $color-black;
  color: $color-white;
  & h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 60px;
  }
  & .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    justify-content: center;
    gap: 40px;
    & .card {
      padding: 20px;
      border: 2px solid $color-white;
      display: flex;
      flex-flow: column;
      gap: 15px;
      & .header {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        gap: 15px;
      }
      & .description {
        flex: 1 1 auto;
        position: relative;
        font-size: 0.875rem;
        line-height: 1.4rem;
        overflow: hidden;
        &:hover .feature-list {
          opacity: 1;
        }
        & .feature-list {
          // display: grid;
          // grid-template-columns: 1fr 1fr;
          font-size: 0.75rem;
          position: absolute;
          inset: 0 0 0 0;
          background: $color-black;
          opacity: 0;
          transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
        }
      }
      & .tags {
        margin-top: auto;
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        & span {
          font-size: 0.5rem;
          padding: 5px 10px;
          border: 1px solid $color-white;
        }
      }
      & .source-code {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 15px;
        & a {
          font-size: 2rem;
          text-decoration: none;
          color: $color-white;
          padding: 8px 16px;
          width: fit-content;
          border: 1px solid $color-white;
          display: flex;
          align-items: center;
          gap: 15px;
          box-shadow: inset 0 0 $color-white;
          transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
          & small {
            font-size: 0.875rem;
          }
          &:hover {
            box-shadow: inset 150px 0 $color-white;
            color: $color-black;
          }
        }
      }
    }
  }
}
