<div class="project" #project>
  <h2 class="title" #title>Project</h2>
  <div class="content">
    <div class="card p1">
      <div class="header">
        <fa-icon [icon]="folderIcon" [size]="'1x'"></fa-icon>
        <h4 class="name">Pchat</h4>
      </div>
      <div class="description">
        <p>Asp .net: Design and develop web application to chat.</p>
        <div class="feature-list">
          <p>- Authenticate using Identity</p>
          <p>- Chat realtime using ajax and libary signalr</p>
          <!-- <p>- Chat realtime using SignalR</p> -->
        </div>
      </div>
      <div class="tags">
        <span>Asp .net framework</span>
        <span>Html</span>
        <span>Css</span>
        <span>Ajax</span>
        <span>Javascript</span>
        <span>MSSQL</span>
        <span>SignalR</span>
      </div>
      <div class="source-code">
        <a href="https://github.com/KieuTriLang/ChatV2.git">
          <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
          ><small>Source</small></a
        >
      </div>
    </div>
    <div class="card p2">
      <div class="header">
        <fa-icon [icon]="folderIcon" [size]="'1x'"></fa-icon>
        <h4 class="name">L2 Shop</h4>
      </div>
      <div class="description">
        <p>
          Spring boot: Design and develop web ecommerce. Payment using paypal.
        </p>
        <div class="feature-list">
          <p>- CRUD</p>
          <p>- Jwt</p>
          <p>- Payment by paypal</p>
          <p>- Send email</p>
        </div>
      </div>
      <div class="tags">
        <span>Spring boot</span>
        <span>Spring data jpa</span>
        <span>Angular</span>
        <span>Rxjs</span>
        <span>Scss</span>
        <span>MySQL</span>
        <span>Paypal</span>
      </div>
      <div class="source-code">
        <a href="https://github.com/KieuTriLang/l2store-client.git">
          <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
          ><small>Frontend</small></a
        >
        <a href="https://github.com/KieuTriLang/l2store.git">
          <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
          ><small>Backend</small></a
        >
      </div>
    </div>
    <div class="card p3">
      <div class="header">
        <fa-icon [icon]="folderIcon" [size]="'1x'"></fa-icon>
        <h4 class="name">Coconect</h4>
      </div>
      <div class="description">
        <p>Spring boot: Design and develop web application to chat.</p>
        <div class="feature-list">
          <p>- Chat realtime using websoket, sockjs and stompjs.</p>
        </div>
      </div>
      <div class="tags">
        <span>Spring boot</span>
        <span>Spring data jpa</span>
        <span>Angular</span>
        <span>Rxjs</span>
        <span>Scss</span>
        <span>MySQL</span>
        <span>Websoket</span>
        <span>Stompjs</span>
        <span>Sockjs</span>
      </div>
      <div class="source-code">
        <a
          href="https://github.com/KieuTriLang/Coconect-Springboot-Angular.git"
        >
          <fa-icon [icon]="githubIcon" [size]="'1x'"></fa-icon
          ><small>Source</small></a
        >
      </div>
    </div>
  </div>
</div>
